body{
  font-family: 'Roboto', sans-serif;
}

.h2-p{
  text-align: center;
  margin:40px 0;
}

.h2-p h2{
  font-size: 3.5rem;
  font-weight: bold;
  color: #031c4e;
}

.h2-p p{
  font-size: 2rem;
  color: #5c6a88;
}

.header-top{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  background-color: #fff;
}

.header-top img{
  width: 100%;
  margin: 28px 0;
  vertical-align: middle;
}

.list-inline {
  list-style: none;
  font-size: 1.3rem;
  color: #031c4e;
}

.list-inline li {
  display: inline-block;
}

.main-menu {
  margin-top: 20px;
  margin-bottom: 10px;
  line-height: 50px;
  text-align: right;
}

.main-menu li {
  padding-right: 20px;
}

.main-menu a {
  color: #031c4e;
  text-decoration: none;
}

.botto-signup{
  padding: 5px 6px;
  border: 1px solid #006aff;
  border-radius: 4px;
  color: #006aff;
}

.color a{
  color:#006aff;
  text-decoration: none;
  font-size: 1.3rem;
}

.main-menu a:hover{
  color:#006aff;
}

.color a:hover{
  background-color: #006aff;
  color: #fff;
}

.hamburger {
  float: right;
  font-size: 2.5rem;
  color: #3a8aff;
  background-color: #fff;
  margin: 28px 0;
  vertical-align: middle;
}

/* /header-top */

/* jumbotron */
.jumbo{
  width: 100%;
  padding: 50px 0;
  margin-top: 60px;
  background-image: url("../img/bg_home.jpg");
}

.jumbo h1{
  color:#fff;
  font-weight: bolder;
  font-size: 5.5rem;
}

.jumbo p{
  color:#fff;
  font-size: 2rem;
}

.block-jumbo{
  background-color: #fff;
  border-radius: 10px;
  margin-top: -30px;
}

.block-jumbo h5{
  color: #031c4e;
  font-size: 2.8rem;
  padding-top: 45px;
}

.block-jumbo h6{
  color: #006aff;
  font-size: 2.8rem;
  padding-top: 15px;
}

.form-main{
  display: block;
  width: 90%;
  margin: auto;
  line-height: 65px;
  padding: 10px 12px;
  font-size: 1.8rem;
  border-style: none;
  }

.jumbo-a{
  width: 90%;
  margin: auto;
  background-color: #579aff;
  border-radius: 5px;
  margin-bottom: 5px;
}

.block-jumbo a{
  margin: auto;
  color: #fff;
  text-decoration: none;
  font-size: 1.8rem;
}

.jumbo-google{
  width: 80%;
  margin: auto;
  background-color: #fff;
  margin-top: 10px;
}

.jumbo-google img{
  max-width: 20px;
  float: left;
  line-height: 10px;
  vertical-align: middle;
}

.jumbo-google a{
  margin-right: 20px;
  color: #898989;
  font-size: 1.8rem;
  text-decoration: none;
}

.last-box{
  margin: 20px 0;
}

.last-box p{
  margin: auto;
  color:#031c4e;
  font-size: 1.5rem;
  padding-bottom: 20px;
}

.last-box a{
  color: #016dff;
  text-decoration: underline;
  font-size: 1.5rem;
}

/* /jumbotron */

/* /header */

/* main */

/* first-section */
.first-section{
  width:100%;
  background-color: #f3f5f9;
}

.first-section h6{
  text-align: center;
  font-size: 1.7rem;
  margin: 40px 0;
  color:#8f99ae;
}

.first-section img{
  height: 100px;
  width: 100%;
}

.first-section p{
  text-align: center;
  text-decoration: none;
  color: #0b72ff;
  font-size: 1.8rem;
  margin: 20px 0;
}
/* first-section */

/* second-section */
.second-section{
  width: 100%;
  margin-bottom: 70px;
}

.box-left{
  margin-top:30px;
  border-left: 1px solid #75809a;
}

.box-left ul{
  list-style: none;
}

.box-left li{
  padding: 20px 5px;
  font-size: 2rem;
  color: #75809a;
}

.box-right{
  margin-top: 30px;
}

.box-right img{
  height: 50px;
  display: block;
  margin-bottom: 25px;
}

.box-right h5{
  color: #031c4e;
  font-size: 2rem;
}

.box-right p{
  color: #5c6a88;
  font-size: 1.8rem;
}
/* /second-section */


/* <!-- third-section --> */
.third-section{
  width: 100%;
  background-color: #f3f5f9;
}

.third-section img{
  width: 100%;
  margin: 30px 0;
}

.arrow{
  font-size: 3rem;
  font-weight: bold;
  margin: 300px 10px;
  display: inline-block;
  color:#6f7b97;
}

.arrow-right{
  color:#031c4e;
}

.pointer p{
  color: #031c4e
}

.point{
  background-color:#fff;
  height: 15px;
  border-radius: 100%;
  border: 1px solid #006aff;
  text-align: center;
  margin: 20px 0;
}

.point:hover{
  background: #006aff;
}
/* <!-- /third-section --> */

/* <!-- forth-section --> */
.forth-section{
  margin-bottom: 5%;
}
.box-right a{
  text-decoration: none;
  color: #0b72ff;
  font-size: 1.5rem;
  margin: 20px 0;
}

/* <!-- /forth-section --> */

/* <!-- fifth-section --> */
.fifth-section{
  width: 100%;
  margin-top: 30px;
  background: rgb(0,70,197);
  background: rgb(0,70,197);
  background: rgb(0,71,197);
  background: linear-gradient(180deg, rgba(0,71,197,1) 0%, rgba(0,49,173,1) 50%, rgba(0,32,155,1) 100%);
}

.fifth-section h2{
  color:#fff;
}

/* .fifth-section li{
  color: #fff;
  font-size: 1.7rem;
  border-bottom: 1px solid #fff;
} */

/* .sx{
  margin-right: 30px;
}

.cent{
  margin-left: 30px;
}

.dx{
  text-align: right;
  font-size: 1.7rem;
  color: #00d1d1;
  text-decoration: none;
} */

.fifth-section span:not(:last-child){
  margin-right: 30px;
  color: #fff;
  font-size: 1.6rem;
}

.fifth-section a{
  margin-left: 150px;
  font-size: 1.6rem;
  color: #00d1d1;
  text-decoration: none;
  width: 100px;
}

.regions:not(:last-child){
  border-bottom: 1px solid #fff;
  max-width: 100%;
}

.border-marg{
  margin-bottom: 30px;
}

/* <!-- /fifth-section --> */

/* <!-- sixth-section --> */

.sixth-section{
  width: 100%;
  background-color: #f3f5f9;
  position: relative;
}

.container-white{
  background-color: #fff;
  box-shadow: 0 0 25px #333333;
  border-radius: 5px;
  text-align: center;
  padding: 30px 0;
}

.container-white img{
  position: absolute;
  top:20%;
  left:50%;
  transform: translate(-50%);
  padding: 20px 0;
}

.sixth-section h6{
  padding: 10px 50px;
  padding-top:150px;
  font-size: 2.5rem;
  color:#5c6a88;
}

.sixth-section p{
  font-size: 1.7rem;
  font-weight: bolder;
  color: #031c4e;
  padding-bottom: 15px;
}

.sixth-section a{
  text-decoration: none;
  color: #016dff;
  font-size: 1.5rem;
  font-weight: bold;
}

.arrow-down{
  font-size: 3rem;
  font-weight: bold;
  margin: 200px 10px;
  display: inline-block;
  color:#6f7b97;
}

.arrow-right-down{
  color:#031c4e;
}

.pointer-down{
  text-align: center;
  margin-bottom: 50px;
}
/* <!-- /sixth-section --> */

/* <!-- seventh-section --> */
.seventh-section{
  width: 100%;
  background: rgb(0,70,197);
  background: rgb(0,70,197);
  background: rgb(0,71,197);
  background: linear-gradient(180deg, rgba(0,71,197,1) 0%, rgba(0,49,173,1) 50%, rgba(0,32,155,1) 100%);
}

.seventh-section h2{
  color: #fff;
}

.botto{
  border: 1px solid #fff;
  padding: 10px 10px;
  font-size: 16px;
  border-radius: 4px;
  background-color: #ffff;
  margin-top:-10px;
}

.botto{
  color: #3889ff;
  text-decoration: none;
}
/* <!-- /seventh-section --> */

/* /main */

/* footer */
footer{
  width: 100%;
  background-color: #031c4e;
}

.last-footer img{
  margin: 30px 0;
}

.last-footer p{
  font-size: 1.6rem;
  color: #6b7792;
}

.social li{
  display: inline-block;
  color: #fff;
  list-style: none;
  line-height: 40px;
  margin-left: -40px;
}

.social a{
  font-size: 2.5rem;
  color: #7a859d;
  padding-bottom: 30px;
  text-decoration: none;
  margin: 0 5px;
}

.colum-right{
  margin: 40px 0;
  color: #fff;
  font-size: 2rem;
}

.colum-right a{
  text-decoration: none;
  font-size: 1.8rem;
  color: #a6adbd;
}

.list{
  list-style: none;
  margin-left: -40px;
}
/* /footer */


@media screen and (max-width: 580px){
.fifth-section a{
  margin-left: 10px;
}

@media screen and (max-width: 430px){
.fifth-section a {
  font-size: 1rem;
}
}


@media screen and (max-width: 768px) {
.first-section img{
  height:200px;
}
}

@media screen and (max-width: 992px) and (min-width: 769px){
.first-section img{
  height:80px;
}
