.header-top{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  background-color: red;
}

.block-left{
  background-color: pink;
  height: 30px;
  width: 30px;
  margin-top: 25px;
}

.list-inline {
  list-style: none;
  font-size: 1.2rem;
}

.list-inline li {
  display: inline-block;
}

.main-menu {
  margin-top: 20px;
  margin-bottom: 10px;
  line-height: 50px;
  text-align: right;
}

.main-menu li {
  padding-right: 20px;
}

.main-menu a {
  color: #031c4e;
  text-decoration: none;
}

/* .hamburger {
  float: right;
  font-size: 1.8rem;
  color: #3a8aff;
} */

/* /header-top */

/* jumbotron */
.jumbo{
  width: 100%;
  padding: 50px 0;
  margin-top: 60px;
  background-color: blue;
}

.jumbo h1{
  color:#fff;
  font-weight: bolder;
  font-size: 5.5rem;
}

.jumbo p{
  color:#fff;
  font-size: 2rem;
}

/* .block-jumbo{
  background-color: #fff;
  height: 500px;
  width: 500px;
  border-radius: 10px;
} */
/* /jumbotron */

/* /header */

/* main */

/* first-section */
.first-section{
  width:100%;
  background-color: #f3f5f9;
}

h6{
  text-align: center;
  font-size: 1.7rem;
  margin: 40px 0;
  color:#8f99ae;
}

.first-section img{
  height: 100px;
  width: 100%;
}

.first-section p{
  text-align: center;
  text-decoration: none;
  color: #0b72ff;
  font-size: 1.8rem;
  margin: 20px 0;
}
/* first-section */

/* second-section */
.second-section{
  margin-bottom: 70px;
}

.h2-p{
  text-align: center;
  margin:40px 0;
}

.h2-p h2{
  margin-top: 60px;
  font-size: 3.5rem;
  font-weight: bold;
  color: #031c4e;
}

.h2-p p{
  font-size: 2rem;
  color: #5c6a88;
}

.box-left{
  background-color: yellow;
  height: 400px;
  margin-top:30px;
}

.box-right{
  background-color: black;
  height: 200px;
  margin-top: 30px;

}
/* /second-section */


/* <!-- third-section --> */
.third-section{
  width: 100%;
  background-color: #f3f5f9;
}

.third-section img{
  width: 100%;
  margin: 30px 0;
}

.arrow{
  font-size: 3rem;
  font-weight: bold;
  margin: 300px 10px;
  display: inline-block;
  color:#6f7b97;
}

.arrow-right{
  color:#031c4e;
}

.point p{
  color: #031c4e
}

.point-blu{
  background-color:#006aff;
  height: 15px;
  border-radius: 100%;
  border: 1px solid #006aff;
}

.point-white{
  background-color:#fff;
  height: 15px;
  border-radius: 100%;
  border: 1px solid #006aff;
}
/* <!-- /third-section --> */

/* <!-- forth-section --> */

.box-purple{
  background-color: purple;
  height: 200px;
  margin-bottom: 80px;
}
/* <!-- /forth-section --> */

/* <!-- fifth-section --> */
.fifth-section{
  width: 100%;
  background: rgb(0,70,197);
  background: rgb(0,70,197);
  background: rgb(0,71,197);
  background: linear-gradient(180deg, rgba(0,71,197,1) 0%, rgba(0,49,173,1) 50%, rgba(0,32,155,1) 100%);
}

.fifth-section h2{
  color:#fff;
}

/* .fifth-section li{
  color: #fff;
  font-size: 1.7rem;
  border-bottom: 1px solid #fff;
} */

/* .sx{
  margin-right: 30px;
}

.cent{
  margin-left: 30px;
}

.dx{
  text-align: right;
  font-size: 1.7rem;
  color: #00d1d1;
  text-decoration: none;
} */

.fifth-section span:not(:last-child){
  margin-right: 30px;
  color: #fff;
  font-size: 1.6rem;
}


.fifth-section a{
  margin-left: 150px;
  font-size: 1.6rem;
  color: #00d1d1;
  text-decoration: none;
  width: 100px;
}

.regions:not(:last-child){
  border-bottom: 1px solid #fff;
  max-width: 100%;
}

.border-marg{
  margin-bottom: 30px;
}

/* <!-- /fifth-section --> */

/* <!-- sixth-section --> */

.sixth-section{
  width: 100%;
  background-color: #f3f5f9;
  position: relative;
}

.container-white{
  width: 90%;
  height: 150px;
  background-color: #fff;
  border-radius: 5px;
}

.container-white img{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
}

.container-white p{
  text-align: center;
  width: 80%;
  margin: auto;
  font-size: 2.5rem;
  color:#5c6a88;
}

.arrow-down{
  font-size: 3rem;
  font-weight: bold;
  margin: 150px 10px;
  display: inline-block;
  color:#6f7b97;
}

.arrow-right-down{
  color:#031c4e;
  margin: 150px 10px;
}
/* <!-- /sixth-section --> */


@media screen and (max-width: 580px){
.fifth-section a{
  margin-left: 10px;
}

@media screen and (max-width: 430px){
.fifth-section a {
  font-size: 1rem;
}
}


@media screen and (max-width: 768px) {
.first-section img{
  height:200px;
}
}

@media screen and (max-width: 992px) and (min-width: 769px){
.first-section img{
  height:80px;
}
}
